/*
CONTENTS:
1) GENERAL
2) HEADER
3) SLIDE-UP-TAB
4) NUGGET-INFO
*/

:root {
  --header-background: rgba(0, 176, 39, 0.8);
  --title-font: 'Comfortaa', cursive;
  --header-font: 'Patua One' cursive;
  --tick-button-colour: green;
  --cross-button-colour: red;
  --blue-button-colour: blue;

  /*logo colours*/
  --green: #C4D600;
  --yellow: #FFE639;
  --blue: #26C1D4;
  --purple: #A30081;
  --pink: #FB3A76;
  --orange: #FE9300;
}

/*
1) GENERAL
*/
html, body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.center-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 2.7em;
  z-index: 10;
}

.center-button.blue {
  color: var(--blue-button-colour);
}

/*
2) HEADER
*/
.header {
  background: var(--header-background);
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 3.2em;
}

.app-title {
  text-align: center;
  margin: 0%;
  transform: translateY(30%);
  font-family: 'Patua One';
  font-weight: 200;
  font-size: 1.8rem;
}

.add-nugget-button{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-30%);
}

/*
3) SLIDE-UP-TAB
*/
.slide-up-tab {
  position: absolute;

  top: 100%;
  left: 0%;
  z-index: 200;

  width: 95%;
  box-sizing: border-box;

  margin: 0em 2.5%;
  padding: 0.8em 1.6em;
  border-radius: 0.7em;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: 'Lato', sans-serif;
  background: rgba(255, 255, 255, 0.9);

  transition: all 0.3s;
}

.slide-up-tab-x-button {
  position: fixed;
  right: 0.5em;
  top: 0.2em;
}

/*
4) NUGGET-INFO
*/
.nugget-info-tab {
  height: 80%;
}

.nugget-info-tab.visible {
  top: 20%;
  left: 0%;
  z-index: 10;
}

.info-tab-food {
  border-top: 0.4em solid var(--orange);
}

.info-tab-fun-fact {
  border-top: 0.4em solid var(--yellow);
}

.info-tab-history {
  border-top: 0.4em solid var(--purple);
}

.info-tab-information {
  border-top: 0.4em solid var(--pink);
}

.info-tab-nature {
  border-top: 0.4em solid var(--green);
}

.info-tab-viewpoint {
  border-top: 0.4em solid var(--blue);
}

.nugget-title {
  margin: 0.5em 0em;
  font-family: 'Comfortaa', cursive;
}

.nugget-author {
  margin-top: 0em;
  font-size: 0.8em;
}

.nugget-image {
  max-width: 100%;
  max-height: 12em;
  margin-top: 0.3em;
  border-radius: 0.3em;
}
